.wrapper-for-content .content__chart {
  position: relative;
  background-color: #222;
}

.chart__select {
  display: block;
  margin: 0 auto;
  background-color: #222;
  font-size: 12px;
  color: #aaa;
}
