$mobile-widths: "max-width: 767px";
$tablet-widths: "max-width: 1279px";
//--- Font-size...

$main-font-size: 1rem;

$main-line-height: 1rem;

//--- Font-colors...

$main-font-color: #545454;

$second-font-color: #f51847;

$third-font-color: #cdcdcd;

$fourth-font-color: #1cf61c;

$fifth-font-color: #c67b49;

//--- Btn-backgrounds...

$btn-bg-hover-color: #606060;

$btn-bg-active-color: #1bc9f5;

$btn-bg: #2e2e2e;

//--- Main-backgrounds...

$body-bg: #FFFFFF;

$background-color-1: #069bff;

$background-color-2: #ed4679;

//--- Border colors...

$main-border-color: #2e2e2e;

$hover-border-color: #1cf61c;

$disabled-border: #CDCDCD;

//--- Animation...
