.wrapper-for-content {
  width: 1600px;
  height: 655px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .map {
    height: 100%;
    background-color: rgb(91, 89, 125);
    width: 950px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border:5px solid black;

    &__zoom-button {
      width: 50px;
      height: 100px;

      &__zoom-in {
        width: 100%;
        height: 50%;
        background-color: rgb(35, 149, 214);
      }

      &__zoom-out {
        width: 100%;
        height: 50%;
        background-color: rgb(180, 22, 56);
      }
    }
  }

  .content {
    height: 100%;
    width: 350px;
    display: flex;
    flex-flow: column;

    &__table {
      height: 60%;
      background-color: rgb(91, 89, 125);
      width: 100%;
      border:5px solid black;

      .button-death-and-recovered {
        width: 150px;
        height: 50px;
        border: 2px solid;
      }
    }

    &__chart{
      height: 50%;
      background-color: rgb(91, 89, 125);
      width: 350px;
      border:5px solid black;
    }
  }
}
#cases__cases-by-region__table{
  height: 474px;
}

.wrapper-for-content .content__table{
  height: 430px;
}

@media(min-width: 1270px) and (max-width: 1619px){
  .wrapper-for-content .map{
    width: 600px;
  }
  .wrapper-for-content .content__chart{
    height: 200px;
  }
  .wrapper-for-content .content{
    flex-flow: row;
    width: 900px;
    height: 260px;
  }
  .wrapper-for-content .content__table{
    height: 200px;
  }

}

@media(min-width: 921px) and (max-width: 1269px) {
  .wrapper-for-content .content__table{
    height: 217px;
    width: 550px;
  }
  .wrapper-for-content{
    overflow-y: hidden;
  }
  .wrapper-for-content .cases{
    height: 438px;
  }
  #cases__cases-by-region__table{
    height: 300px;
  }
  .wrapper-for-content .map{
    width: 600px;
    height: 438px;
  }
  .wrapper-for-content .content{
    flex-flow: row;
    width: 900px;
    height: 475px;
  }
  .wrapper-for-content .content__chart{
    height: 60%;
  }
}

@media(min-width: 768px) and (max-width: 920px){
  .wrapper-for-content .cases{
    width: 250px;
  }
  .wrapper-for-content .map{
    width: 500px;
    order: 3;
  }
  .wrapper-for-content .content{
    flex-flow: column;
    width: 250px;
  }
  .wrapper-for-content .content__chart{
    height: 60%;
    width: 250px;
  }
}

@media(min-width: 500px) and (max-width: 767px){
  .wrapper-for-content .cases{
    width: 250px;
  }
  .wrapper-for-content .map{
    width: 500px;
    order: 3;
  }
  .wrapper-for-content .content{
    flex-flow: column;
    width: 250px;
  }
  .wrapper-for-content .content__chart{
    height: 60%;
    width: 250px;
  }
}
