.cases {
  height: 100%;
  width: 300px;

  &__global-cases {
    height: 20%;
    background-color: rgb(14, 14, 29);
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding: 20px;

    &__total-cases{
      color: rgb(204, 24, 24);
      font-weight: 900;
    }
  }

  &__cases-by-region {
    height: 80%;
    background-color: rgb(91, 89, 125);
    width: 100%;

    &__statistics-buttons {
      display: flex;

      &__list-button {
        padding: 5px;
        font-size: 16px;
        height: 50px;
        width: 100px;
        background-color: black;
        cursor: pointer;
      }
    }
  }
}

.flags{
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.tabulator{
  overflow-x:hidden;
  font-size: 18px;
  border: none;
  background-color: black;
}

.tabulator-row .tabulator-cell{
  border: none;
  height: 40px;
}

.tabulator .tabulator-header .tabulator-col{
  background: black;
  border: none;
}

.tabulator .tabulator-header{
  color: white;
  background-color: black;
  border: none;
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover{
  color: white;
  background-color: black;
}

.tabulator .tabulator-tableHolder{
  background-color: black;
}

.tabulator-row-odd{
  color: white;
  background-color: black;
}

.tabulator-row.tabulator-row-even{
  color: white;
  background-color: black;
}

.tabulator-row.tabulator-selectable:hover{
  background-color: black;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

input{
  color: white;
  background-color: black;
}

.active-button{
  border-left: 2px solid rgb(148, 134, 134);
  border-bottom: 2px solid rgb(148, 134, 134);
  border-right: 2px solid rgb(148, 134, 134);
  color: red;
}